<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h3>INSTRUCTIONS FOR PACKET INFORMATION HANDLING</h3>

    <hr>

    <ul>
        <li>SEARCH BY PACKAGE ID: (add to main page) /packets/id</li>
        <li>LIST ALL PACKAGES FOR A SPECIFIED METRIC: (add to main page) /metrics?a=Cpu_Stats&b=Memory_Info</li>
        <li>LIST ALL PACKAGES: (add to main page) /packets</li>
        <li>LIST ALL AVAILABLE METRICS: (add to main page) /current_supported_metrics</li>

    </ul>

    <hr>

</body>
</html>
